.article {
  &__title {
    font-size: 3rem;
  }

  p,
  ul {
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
  }
}
