.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    font-size: 0.75rem;
    color: var(--color-text);
  }
}
