.header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--color-gray);

  @media only screen and (min-width: 768px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.header__title {
  color: var(--color-dark);
  text-align: center;
  font-size: 3rem;
  font-weight: 900;

  @media only screen and (min-width: 768px) {
    font-size: 4.5rem;
  }
}
