.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__logo {
    height: 3rem;
  }

  &__inner {
    display: flex;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
  }

  &__item {
    margin: 0;
  }

  &__link {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s easek;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__link-text {
    display: none;
  }
}
