.post-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-item {
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--color-text);

  .post-item__title {
    color: inherit
  }

  &:hover {
    color: var(--color-primary);
  }
}

.post {

  p,
  ul,
  li,
  table {
    margin-bottom: 1rem;
  }
}
