.post-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-list__item {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-primary);
  }

  p {
    margin-bottom: 0;
  }
}

.post {

  p,
  ul,
  li {
    margin-bottom: 1rem;
  }
}
