:root {
  --color-primary: #095B2E;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-weight: bold;
  line-height: 1.2
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.75rem;
}

h5 {
  font-size: 0.5rem;
}

h6 {
  font-size: 0.25rem;
}
