*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}
