<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="page">
    <main class="page__content">
      <header>
        <a href="/">
          Prefeitura de São Bento do Sapucaí/SP
        </a>
      </header>

      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
  </body>
</html>
