<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="page">
    <nav class="navbar">
      <div class="container">
        <a class="navbar__brand" href="/">Prefeitura Municipal de São Bento do Sapucaí</a>
      </div>
    </nav>

    <header class="hero page__hero">
      <div class="container hero__inner">
        <h1>
          {{ page.title }}
        </h1>
      </div>
    </header>

    <div class="container">
      {{ content }}
    </div>

    <footer class="footer">
      <div class="container">
        <ul class="footer__links">
          <li>
            <a class="footer__link" href="/aviso-privacidade.html">Aviso de Privacidade</a>
          </li>

          <li>
            <a class="footer__link" href="/politica-cookies.html">Politica de Cookies</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
