<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <nav class="navbar">
      <div class="container navbar__inner">
        <a class="navbar__brand" href="/">Prefeitura Municipal de São Bento do Sapucaí</a>
      </div>
    </nav>

    {{ content }}
  </body>
</html>
